<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="site-content">
      <h1>Create new blog snippet</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>

    <div class="create-blog content">
      <form action="/blogs" method="POST">
        <label for="title" class="create-blog">Blog Title</label><br />
        <input
          type="text"
          class="create-blog"
          id="title"
          name="title"
          required
        /><br />
        <label for="snippet" class="create-blog">Blog Snippet</label><br />
        <input
          type="text"
          class="create-blog"
          id="snippet"
          name="snippet"
          required
        /><br />
        <label for="body" class="create-blog">Blog Body</label><br />
        <textarea id="body" class="create-blog" name="body" required></textarea
        ><br /><br />
        <button type="submit" class="create-blog">Create Blog</button>
      </form>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
